.table-records
  .row
    .cell
      width: 20%

.filter
  .filter-options
    border: 1px solid #ccc;
    border-radius: 0.25rem
    padding: 10px 20px

    form
      max-width: 450px;

      .form-group
        margin-bottom: 5px
