@import("_flex")
@import("table-records")

html, body, app
  height: 100%

app > main
  height: 100%

section.top-padding
  padding: 20px 0px

record-item
  width:100%

.btn
  &:hover
    cursor: pointer;
